/* .container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 290px));
  grid-gap: 1rem;
  padding: 1rem;
  justify-content: center;
  box-shadow: 0 1px 1px #000;
}
img {
  background-position: top;
  background-size: cover;
  height: 250px;
  width: 290px;
  box-shadow: 0 2px 10px #000;
  cursor: pointer;
  transition: all 0.2s;
}
img:hover {
  box-shadow: none;
  transform: scale(1.1);
}


.image-gallery {
  display: flex;
}

.image-gallery img {
  width: 100%;
  max-width: 500px;
  margin-right: 10px;
}

.image-gallery-container {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  -ms-overflow-style: none;
}

.image-gallery-container::-webkit-scrollbar {
  display: none;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
} */

/* Category.css */
.slick-next,
.slick-prev {
  margin: 0 10px; /* Adjust the margin as needed */
}

