/* giftpage.css */
.gifts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gift-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .gift-card h3 {
    margin-top: 0;
  }
  
  .gift-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  